aspy.yaml==1.1.1
beautifulsoup4==4.6.0
cached-property==1.4.3
cfgv==1.1.0
get==1.0.3
identify==1.1.0
lxml==4.2.2
nodeenv==1.3.1
post==1.0.2
pre-commit==1.10.2
public==1.0.3
pyTelegramBotAPI==3.6.3
PyYAML==3.12
query-string==1.0.2
request==1.0.2
requests==2.7.0
six==1.11.0
toml==0.9.4
virtualenv==16.0.0
